@page "/"

<PageTitle>Index</PageTitle>

<h1>Dawid Karbowiak</h1>

Witam na mojej aplikacji.

<SurveyPrompt Title="How is Blazor working for you?" />

<div style= "padding: 20px 0 20px 0">
	<h1><center>Zdjęcie Auta</center></h1>
	<img src="https://www.tuningblog.eu/wp-content/uploads/2020/12/Ford-Mondeo-Turnier-Widebody-SS-Tuning-7.jpg?ezimgfmt=rs:368x198/rscb2/ngcb2/notWebP"/>
</div>
